input {
	color: white;
	border: 0;
	background-color: cadetblue;
	border-bottom: 1px solid white;
}
.main {
	width: 500px;
	height: 600px;
	background-color: cadetblue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.main div {
	margin-top: 40px;
}
p {
	color: white;
}
.ani {
	animation-duration: 1s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-top: 20px;
	}

	to {
		margin-top: 0;
	}
}
