body {
	background-color: gainsboro;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

textarea {
	width: 500px;
	height: 150px;
	margin: 20px;
}

.value {
	max-width: 500px;
}

.content {
	background-color: orange;
	padding: 12px 30px;
	border-radius: 30px;
	color: white;
	margin: 6px;
	display: inline-block;
}

.highlight {
	background-color: rgb(92, 92, 233);
}